@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about <a href="/images/netcore.docx">My task (API Crud)</a>.</p>
    <p class="text-primary">Overview of the Task</p>
    <p>
        I have completed the task with ASP.Net Core(3.1) with EntityFramework Core. I used the repository patteren for services and
        and make ajax call for Add or edit user registeration form, also uses jquery. I have created signup form and also signup listing users
        page where you can edit or delete the user, I use code first approach so that so can easily update the database on your local Server. If you are
        get any trouble to get my project feel free to contact. Thanks
    </p>
    <br />
    <br />  

</div>
<p class="mb-1">Best Regards:</p>
<p class="mb-1">Muhammad Tayyab</p>
<p>ASP.Net MVC, Core, AngularJS & Angular Developer</p>
